@import url (https://fonts.googleapis.com/css?family=Roboto:400,300,100);


body{

background-repeat:no-repeat;
background-size: cover;
font-family: 'Roboto', sans-serif;
background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ),
  url("villanovaSnow.jpg");

}


h1{
  color:white;
  text-align: center;
  padding-top:17%;
font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  font-family: 'Roboto', sans-serif;
}

h2{
  color:white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

#checkindays{
  position: relative;;
  text-align: center;
  color:white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
  padding-top: 3%;

}

#buttons{

  margin-left:33%;

}
a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
 }
